<div class="card">
    <figure>
        <img class="card-img-top" src="{{images.0.url}}" alt="">
    </figure>
    
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <button><a href="/tracks/{{id}}">View tracks</a></button>
    </div>
</div>