<div class="image-container">
  {{#if images.[0].url}}
    <img src="{{images.[0].url}}" alt="Artist image">
  {{else}}
    <img src="http://www.designshock.com/wp-content/uploads/2016/04/man-4-400.jpg" alt="Default artist image">
  {{/if}}
</div>
<h2>{{name}}</h2>