<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{this.name}}</h3>
    <audio controls="" name="media"><source src="{{this.preview_url}}" type="audio/mpeg"></audio>
  </div>
</div>
