<h1>Albums de artistas</h1>
<section class="albumsList">
  {{#each this.body.items}}
    <article>
      <img src= {{images.0.url}}>
      <p>{{name}}</p>
      <a href="/tracks/{{id}}">View tracks</a>
    </article>
  {{/each}}
</section>