<h1>Welcome to albums</h1>
<ul>
  {{#each album}}
    <section>
      <img src="{{images.1.url}}" alt="{{name}}">
      <h2>{{name}}</h2>
      <a href="/tracks/{{id}}">View Tracks</a>
    </section>
    
{{/each}}
</ul>
