<h1>Welcome to albums</h1>
<ul>
  {{#each album}}
    <section>
      <img src="{{this.images.1.url}}" alt="{{this.name}}">
      <h2>{{this.name}}</h2>
      <a href="/tracks/{{this.id}}">View Tracks</a>
    </section>
    
{{/each}}
</ul>
