<h1>Albums</h1>

<section class="article">
  {{#each albums}}
    <article>
      {{#if this.images.0.url}}
        <img src="{{this.images.0.url}}" alt="artist photo">
      {{else}}
        <img src="./images/man-4-400.jpg" alt="artist photo">
      {{/if}}
      <div>
        <h3>{{this.name}}</h3>
        <a href="/tracks/{{this.id}}">View albums</a>
      </div>
    </article>
  {{/each}}
</section>
