<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>ALBUMS</h1>
<div>
  {{#each items}}
    <img src="{{this.images.0.url}}" alt="imageAlbum">
    <h3>{{this.name}}</h3>
    <button><a href="/albums/{{this.id}}">Tracks</a></button>
  {{/each}}
</div>
<div>
</div> 
</body>
</html>