<section class="albumsList">
  {{#each this.body.items}}
  <a href="/tracks/{{id}}">
    <article class="albumCard">
      <img src= {{images.0.url}}>
      <p>{{name}}</p>
      <div class="button">View tracks</div>
    </article>
  </a>
  {{/each}}
</section>