<section class="cards">
  {{#each artist}}
     <article class="card">
      <img src="{{this.images.1.url}}" alt="{{this.name}}">
      <h2>{{this.name}}</h2>
      <a href="/albums/{{this.id}}">View Album</a>
    </article>
{{/each}}
</section>

