<h1>Artists page</h1>
<h2>Why isn't this working pls</h2>
<section>
  <ul>
    {{#each this.body.artists.items}}
    <li>
      <img src="{{images.0.url}}" alt="an album cover">
      <h2>{{name}}</h2>
      <a href="/albums/{{id}}">View Albums</a>
    </li>
    {{/each}}
  </ul>
</section>