<div class="artist-list">
    <h1>Artists:</h1>
    {{#if this.body.artists.items}}
    {{#each this.body.artists.items}}
    <article class="artist-card">
        <img src={{images.0.url}}>
        <p>{{name}}</p>
        <a href="/albums/{{id}}">View albums</a>
    </article>
    {{/each}}
    {{else}}
    <div>
        <h1>No results</h1>
        <p>We couldn't find anything, try again</p>
        <a href="/">Search for another artist</a>
    </div>
    {{/if}}
</div>