<h1>Welcome to artists</h1>
<ul>
  {{#each artist}}
    <section>
      <img src="{{this.images.1.url}}" alt="{{this.name}}">
      <h2>{{this.name}}</h2>
      <a href="/albums/{{this.id}}">View Album</a>
    </section>
    
{{/each}}
</ul>
