<section class="cards">
  {{#each artist}}
     <article class="card">
      <img src="{{images.1.url}}" alt="{{name}}">
      <h2>{{name}}</h2>
      <a href="/albums/{{id}}">View Album</a>
    </article>
{{/each}}
</section>

