<section class="artistsList">
  {{#each this.body.artists.items}}
  <a href="/albums/{{id}}">
    <article class="artistCard">
      <img src= {{images.0.url}}>
      <p>{{name}}</p>
      <div class="button">View albums</div>
    </article>
  </a>
  {{/each}}
</section>