<section>
  <h1>Artist</h1>
  <ul class="cards">
    {{#each artist}}
      <article>
        <li class="card">
          {{!-- 'images.1' acces array images, index 1 --}}
          <img src="{{this.images.1.url}}" alt="{{this.name}}" />
          <div class="grey-bg">
            <p class="text-truncate">{{this.name}}</p>
            <a class = "button" href="/albums/{{this.id}}">View Albums</a>
          </div>
        </li>
      </article>
    {{/each}}
  </ul>
</section> 