<h1>Welcome to {{title}}</h1>

<form method="GET" action="/artists">
  <input type="text" name="search" placeholder="Search for an artist!" required>
  <button type="submit">Search for an Artist</button>
</form>