<div class="index-container">
  <form action="/artists" method="GET">
    <h1>Search your favorites artists</h1>
    <input type="text" name="name" placeholder="Daniel Viglietti" required>
    <button class="btn" type="submit">Search</button>
  </form>
</div>