<div class="index-main">
    <div class="search-box">
        <form action="/artists" method="GET">
            <input type="text" name="artistquery" placeholder="The Beatles"><br>
            <input type="submit" value="Search for an artist">
        </form>
    </div>
</div>