<header>
    <form class="search-box" action="/artists" method="GET">
        <input class="search-input" type="text" name="artist" placeholder="Search for an artist">
        <button class="btn home-btn"type="submit">Search for an Artist</button>
    </form>
</header>