<div class="home-container">
  <div class="form-wrapper">
    <form action="/artists" method="GET" class="form-artist">
      <input class="search-input" type="text" placeholder="Search for an artist!" name="artist">
      <button class="btn" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>