<h1> Welcome to {{title}}</h1>

<form method="GET" action="/artists">
    <input type="text" name= "search" placeholder="Search for an artists" required>
    <button type= "submit">Search an artist</button>
</form>
