
<div class="form-container" style="background:url({{photo.regular}}); background-size:cover;">
  <form action="/artists" method="GET">
  <input type="text" placeholder="Search artists here" name="artist">
  <input type="submit" value="Search artists">
  </form>
</div>