<section class="container">
  <form class="form" action="/artists" method="GET">
    <input type="text" name="artist" id="artist" placeholder="Beatles" required>
   <button type="submit">Search the artist</button>
  </form>
</section>
