<h1>Welcome to {{title}}</h1>
<form action = "/artists" method="GET">
  <input type="text" name="search" id="search" placeholder="Radiohead" required>
  <button type="submit">Search for an Artist</button>
</form>