<h1>Welcome to {{title}}</h1>

<div class="index-container-bg">
  <form action="/artists" method="GET">
    <input type="text" name="artistquery" placeholder="Insert an artist" id="artistquery"><br>
    <input type="submit" value="Search for an artist">
  </form>
</div>