<div class="container-index">
  <section class="form-wrap">
    <form method="GET" action="/artists">
      <input type="text" name="search" placeholder="Beyoncé" required>
      <button type="submit">Search for an Artist</button>
    </form>
  </section> 
</div>
