<h1>Welcome to {{title}}</h1>

<form action="/artists" method="GET" id="searchForm">
{{!-- <label for="search"></label> --}}
<input type="text" name="artist" id="searchInput" placeholder="The Beatles">
<button type="submit">Search for an Artist</button>
</form>