<div class="index-container">
  <form action="/artists" method="GET">
    <h1>choose your favorite artist</h1>
    <input autocomplete="off" type="text" name="name" placeholder=" Huntza" required>
    <button class="btn" type="submit">Search for an Artist</button>
  </form>
</div>