<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="container home-index">
      {{{body}}}
    </main>
    <script src="../javascript/onlyPlayOne.js"></script>
  </body>
</html>