<!DOCTYPE html>
<html>

<head>
  <title>Music Addicts</title>
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<header class="site-header">
  <i class="fas fa-headphones"></i>
  <h1 class="header-brand">Music Addicts</h1>
</header>

<body>
  <main class="container">
    {{{ body }}}
  </main>
</body>
<footer class="site-footer">
  <ul class="credits-list">
    <li class="credit-list-item">Coded in <a class="credits-list-link"
        href="https://www.ironhack.com/en/locations/barcelona">Ironhack/></a></li>
    <li class="credit-list-item">Background photo by <a class="credits-list-link"
        href="https://unsplash.com/@markusspiske?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Markus
        Spiske</a></li>
    <li class="credit-list-item">Album's placeholder photo by <a class="credits-list-link"
        href="https://unsplash.com/@sasotusar?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge">Sašo
        Tušar</a></li>
    <li class="credit-list-item">by <a class="credits-list-link"
        href="https://github.com/annacv/lab-express-spotify">annacondal</a></li>
  </ul>
</footer>

</html>