<section class="tracksList">
    <div class="container-tracks">
        <ul class="tracksListUl">
            <li>
                <h1>Tracks list</h1>
            </li>
            {{#each this.body.items}}
            <li>
                <p>{{name}}</p>
                <audio controls>
                    <source src={{preview_url}} type="audio/mpeg">
                    <p>Your browser doesn't support HTML5 audio. Here is
                        a <a href={{preview_url}}>link to the audio</a> instead.</p>
                </audio>
            </li>
            {{/each}}
        </ul>
    </div>
</section>