<main class="container">
  <div class="tracks-wrapper">
    <div class="tracks-header">
      <h3>Title</h3>
      <h3>Listen</h3>
    </div>
    <div class="audio-panel">
      {{#each this}}
      <div class="track-item">
        <span>
          <p>{{this.name}}</p>
        </span>
        <span>
          <audio controls>
            <source src={{preview_url}} type="audio/mpeg">
            <p>Your browser doesn't support HTML5 audio. Here is
              a <a href={{preview_url}}>link to the audio</a> instead.</p>
          </audio>
        </span>
      </div>
      {{/each}}
    </div>
  </div>
</main>