<section class="music">
{{#each body.items}}
<article class="audio">
<ul>
  <li><p class "name">{{name}}</p></li>
  <li>
    <audio controls>
  <source src={{preview_url}} type="audio/mpeg"> 
  <p>Your browser doesn't support HTML5 audio. Here is
     a <a href="myAudio.mp4">link to the audio</a> instead.</p>
</audio>
  </li>
</ul>
</article>
{{/each}}

</section>
