
<section>
  <h1>Tracks</h1>
  <ul>
    {{#each tracks}}
    <article class="article-tracks">
      <li>
        <div class="grid-wrapper">
            <p class = "song-name">{{this.name}}</p>
            <audio class = "audio-controls" src="{{this.preview_url}}" controls></audio>
        </div>
      </li>
    </article>
    {{/each}}
  </ul>
</section> 