<section id="tracksList">
  {{#each albumTracks}}
  <p><span>{{track_number}}</span> {{name}}</p>
  {{#if preview_url}}
    <audio class="audio" controls controlsList="nodownload" src="{{preview_url}}"></audio>
  {{else}}
    <p>Preview not available</p>
  {{/if}}
{{/each}}
</section>

<script>
const container = document.getElementById('tracksList');
function onlyPlayOneIn(container) {
  container.addEventListener('play', function(event) {
  audioElements = container.getElementsByTagName('audio')
    for(i=0; i < audioElements.length; i++) {
      audioElement = audioElements[i];
      if (audioElement !== event.target) {
        audioElement.pause();
      }
    }
  }, true);
};

window.addEventListener('load', function() {
  onlyPlayOneIn(container);
});
</script>