{{#each albumTracks}}
<section id="tracksList">
<p><span>{{track_number}}</span> {{name}}</p>
  {{#if preview_url}}
    <audio controls controlsList="nodownload">
      <source src="{{preview_url}}"></source>
    </audio>
  {{else}}
    <p>Preview not available</p>
  {{/if}}
</section>
{{/each}}