<h1>Albums</h1>

<ul>
  {{#each albums}}
    <li>
      <p>{{this.name}}</p>
      <a href="/tracks/{{this.id}}">View tracks</a>
      <img src="{{this.images.0.url}}" alt="{{this.name}}" />
    </li>
  {{/each}}
</ul>