<div class="index-container">
  <div class="form-container">
    <h1>Spotify</h1>
    <form action="/artists" method="GET">
      <input type="text" name="search">
      <button type="submit">Search</button>
    </form>
  </div>
</div>