<div class="index-container">
  <div class="form-container">
    <form action="/artists" method="GET">
      <input type="text" name="search" placeholder="Artist..">
      <button type="submit">Search</button>
    </form>
  </div>
</div>