<h1>{{title}}</h1>
<p>Spotify</p>
{{!-- El atributo 'action' define el lugar donde los datos se envian --}}
<form action="/artist" method="GET">
  <input type="text" name="artist">
  <button type="submit">Search</button>
</form>
