html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #66a8a6;
  /* background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23478b8a' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E"); */
  background: url(/images/concert.jpg) no-repeat center center fixed;
}

.index-box {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  width: 80%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  box-shadow: 0px 1px 5px .1px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 900px) {
  .index-box {
    flex-direction: row;
    max-height: 50%;
    max-width: 50%;
  }

  .tracks {
    max-width: 60%;
  }

  .hero-image {
    max-height: 100%;
    width: auto;
  }
}

.a-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
}

.title > h1 {
  font-size: 2.5rem;
  color: #478b8a;
}

.search-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 0px 12px 12px;
}

.search-input::placeholder {
  color: gray;
}

.search-btn {
  background-color: #66a8a6;
  color: #fff;
  padding: 11px;
  border: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 1.2rem;
}

.search-btn:hover, .albums-btn:hover {
  cursor: pointer;
  background-color: #478b8a;
}

.albums-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #66a8a6;
  color: #fff;
  padding: 11px;
  border: 0px;
  border-radius: 30px;
  font-size: 1.2rem;
  max-width: 150px;
  box-shadow: 0px 1px 5px .1px rgba(0, 0, 0, 0.4);
}


.hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-wrap: none;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  width: 80%;
  margin: 20px;
  padding: 1rem;
  border: 0px;
  box-shadow: 0px 1px 5px .1px rgba(0, 0, 0, 0.4);
  max-width: 400px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bolder;
  color: hsl(202, 57%, 15%);
}

.card-image {
  width: 100%;
  height: auto;
  box-shadow: 0px 1px 5px .1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.likes {
  color: hsl(201, 23%, 34%);
}

.followers {
  color: hsl(202, 57%, 15%);
  font-weight: bolder;
  font-size: 1.1rem;
}

.genres {
  text-transform: capitalize;
  color: hsl(201, 23%, 34%);
}

.tracks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px;
  
  width: 90%;
  padding: 1rem;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 1px 5px .1px rgba(0, 0, 0, 0.4);
}

.nav-bar {
  display: flex;
  color: #fff;
  padding: 6px;
  height: 100px;
}

.logo > a {
  text-decoration: none;
  color: #fff;
  padding-left: 30px;
  font-size: 2rem;
}

.track-player {
  padding-left: 10px;
}

.track-name {
  padding-left: 15px;
}

.container {
  display: flex;
  justify-content: center;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1px;
  padding: 15px;
  background-color: #66a8a6;
  color: #fff;
  font-weight: bolder;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 1px 5px .1px rgba(0, 0, 0, 0.4);
}