:root {
  --primary-color: #ff6666;
  --black: #222326;
  --gray: #4d4d4d;
  --smoke: #f1f3f4;
  --blue: #719ece;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: var(--black);
  font-size: 14px;
  line-height: 147%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.text-truncate {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.search-box {
  display: flex;
  justify-content: center;
}

.search-input {
  margin-right: 2rem;
}

.btn {
  color: white;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  margin-top: 12px;
  padding: 10px 20px;
  font-size: 1rem;
}

.btn:hover {
  color: var(--primary-color);
  background: white;
  transition: all 0.15s ease-in-out;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#main-container {
  height: 100vh;
}

.main-search {
  background-image: url('../images/concert-background.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search-form {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 450px;
  height: 200px;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.search-form input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

.search-form input:focus {
  outline: none;
  border: 2px solid var(--blue);
  box-shadow: 0 0 2px var(--blue);
}

.artists,
.albums {
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.card {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.image-container {
  overflow: hidden;
  padding-top: 100%;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  position: absolute;
  top: 0;
}

.card h2 {
  font-weight: normal;
  color: white;
  font-size: 1.15em;
  margin: 12px 0;
}

.card-btn {
  color: white;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 6px;
  margin-top: auto;
  font-size: 0.9em;
  padding: 3px 10px;
  text-decoration: none;
}

.card-btn:hover {
  text-decoration: underline;
}

.tracks {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.tracks header {
  text-align: left;
  color: white;
  background-color: var(--gray);
  padding: 15px 20px;
}

.tracks header p {
  margin-top: 8px;
  font-size: 1.2em;
  color: var(--smoke);
}

.track-item {
  background-color: var(--smoke);
  margin-bottom: 3px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.track-item:last-child {
  margin: 0;
}

.track-item audio {
  width: 100%;
}

.track-item audio:focus {
  outline: none;
}

.no-preview {
  color: #9e9e9e;
  padding: 17px 0;
  margin-right: 25px;
}

@media (min-width: 480px) {
  .artists,
  .albums {
    grid-template-columns: 1fr 1fr;
  }
  .track-item {
    justify-content: space-between;
    flex-direction: row;
    padding-top: 0;
    padding-left: 15px;  
  }
  .track-item audio {
    width: 300px;
    min-width: 300px;
  }
}

@media (min-width: 768px) {
  .artists,
  .albums {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tracks {
    max-width: 768px ;
  }
}

@media (min-width: 1024px) {
}
