
<div class="cards">
  {{#each albums.items}}
  <div class="inside-cards"> 
    <img src="{{this.images.0.url}}" alt="">
    <div class="cards-description">
      <h2>{{this.name}}</h2>
      <a href="/artists/albums/{{this.id}}/tracks"><button class="button album">View Tracks</button></a>
    </div>
  </div>
  {{/each}}
</div>